
.tabsmenu {
    margin-bottom: -1px;
    display: flex;
}

.tabsmenu li {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #333;
    user-select: none;
    cursor: pointer;
}

.tabsmenu .tab-active {
    color: #fff;
    border-radius: 5px 5px 0 0;
    background: #3b99fc;
    cursor: default;
}

.container .tabs-content {
    margin-bottom: 50px;
    padding: 20px;
    border: solid 1px #3b99fc;
    border-radius: 0 5px 5px 5px;
}
