.number {
    display: block;
    width: 98%;
}
.range {
    position: relative;
    width: 50%;
    height: 43px;
    border: 1px solid #000;
    margin: 0 auto;
}
.range > input[type="range"] {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 12.5px 0;
    // transform: translate(50%, 0%);
    // appearance: none;
    background: none;
}
.range>input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
}
.range>input[type="range"]::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
}
.range .range-num {
    position: absolute;
    top: 8.5px;
    left: - 2.2%;
    // margin-left: 7px;
    width: 4.5%;
    height: 25px;
    border: 1px solid #000;
    
}
